Xholon/dtd/StateMachine_SCXML.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	State Chart XML (SCXML) DTD - from W3C Working Draft 21 February 2007
	http://www.w3.org/TR/scxml/
	This is only the portion of SCXML that is relevant to Xholon.
	This DTD contains some Xholon extensions.
	This DTD is based on the xsd Schema included in the W3C document.
	It can be used to validate SCXML files generated by Xholon.
	Some examples are included with the Xholon distribution,
	in examples/StateMachine_SCXML.
-->

<!-- Basic State Notation -->

<!-- scxml -->
<!ELEMENT scxml (notes*,state*,parallel*,final*)>
<!ATTLIST scxml
	initialstate IDREF #REQUIRED
	xmlns CDATA #IMPLIED
	version NMTOKEN #FIXED "1.0">

<!-- state -->
<!ELEMENT state (onentry?,onexit?,transition*,initial?,state*,parallel*,final*,history*,choice?,doactivity?)>
<!ATTLIST state
	id ID #REQUIRED>

<!-- transition -->
<!-- activity is a Xholon extension -->
<!ELEMENT transition EMPTY> <!-- contains executable content -->
<!ATTLIST transition
	event NMTOKEN #IMPLIED
	cond NMTOKEN #IMPLIED
	activity NMTOKEN #IMPLIED
	target IDREF #IMPLIED>

<!-- parallel -->
<!ELEMENT parallel (onentry?,onexit?,state*,parallel*,history*)>
<!ATTLIST parallel
	id ID #REQUIRED>

<!-- final -->
<!ELEMENT final EMPTY>
<!ATTLIST final
	id ID #REQUIRED>

<!-- onentry -->
<!-- activity is a Xholon extension -->
<!ELEMENT onentry EMPTY> <!-- contains executable content -->
<!ATTLIST onentry
	activity NMTOKEN #IMPLIED>

<!-- onexit -->
<!-- activity is a Xholon extension -->
<!ELEMENT onexit EMPTY> <!-- contains executable content -->
<!ATTLIST onexit
	activity NMTOKEN #IMPLIED>

<!-- Pseudo-States -->

<!-- initial -->
<!ELEMENT initial (transition)>
<!ATTLIST initial
	id ID #IMPLIED>

<!-- history -->
<!ELEMENT history (transition)>
<!ATTLIST history
	id ID #REQUIRED
	type NMTOKEN #IMPLIED>

<!-- Xholon extensions -->

<!-- choice -->
<!ELEMENT choice (transition+)>
<!ATTLIST choice
	id ID #REQUIRED>

<!-- doactivity -->
<!ELEMENT doactivity EMPTY>
<!ATTLIST doactivity
	activity NMTOKEN #IMPLIED>

<!-- non-SCXML comments -->
<!ELEMENT notes (body)>
<!ELEMENT body (p)>
<!ATTLIST body xmlns CDATA #REQUIRED>
<!ELEMENT p (#PCDATA)>
